RPC_URL=https://sepolia.infura.io/v3/YOUR_API_KEY
PRIVATE_KEY=0xyour_exchange_owner_private_key
TOKEN_ADDRESS=0xYourFATokenAddressFromChainDeploy
VAULT_ADDRESS=0xYourVaultAddressFromChainDeploy
CONFIRMATIONS=2
PORT=3001
